<% include ../partials/_header %>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/addUser" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidos" class="form-control" placeholder="Apellidos">
                        </div>
                        <div class="form-group">
                            <input type="text" name="edad" class="form-control" placeholder="Edad">
                        </div>
                        <button class="btn btn-primary" type="submit">
                              Registrar
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Edad</th>
                  <th>Acciones</th>
                </tr>
              </thead>
             <tbody>
                <% for(var i=0; i < user.length; i++) { %>
                  <tr>
                    <td><%= i + 1%></td>
                    <td><strong><%= user[i].nombre %></strong></td>
                    <td><%= user[i].apellidos %></td>
                    <td><%= user[i].edad %></td>
                    <td>
                      <a href="/delete/<%= user[i]._id %>" class="btn btn-danger">
                        Eliminar
                      </a>
                      <a href="/userById/<%= user[i]._id %>" class="btn btn-info">
                        Editar
                      </a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
      
          </div>
    </div>
</div>

<% include ../partials/_footer %>